* {
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
  color: #1A1A1A;
}

/* Обнуление отступов и полей */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
dl,
dd,
ol,
ul,
figure,
hr,
fieldset,
legend {
  margin: 0;
  padding: 0;
}

/* Обнуление шрифтов */
button,
input,
select,
textarea {
  font-family: inherit;
}

/* Обнуление гиперссылок */
a {
  font: {
    size: 16px;
    weight: 400;
  }

  line-height: 20px;
  text-decoration: none;
  color: inherit;
}

/* Обнуление списков */
ul,
ol {
  list-style: none;
}

/* Обнуление формы */
button,
input,
select,
textarea {
  margin: 0;
}

/* Обнуление таблиц */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Обнуление изображений */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Обнуление кнопок */
button {
  font-size: 16px;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

/* Обнуление формы */
input,
select,
textarea {
  outline: none;
}

/* Обнуление стандартных стилей для HTML5-элементов */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/* Добавление коррекций для некоторых браузеров */
body {
  line-height: 1;

}

/* Устранение багов в IE */
ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
body {
  height: 100%;
}

h1 {
  font: {
  }
}

h2 {
  font: {
  }
}

h3 {
  font: {
  }
}

h4 {
  font: {
  }
}

h5 {
  font: {
  }
}

p {
  font: {
  }
}


